<header>
	<h1>3ditor</h1>
</header>
<section id="homeSection" class="active">
	<div class="col-md-6 column">
		<div class="box" id="loadBox" data-link="{on switchToLoad}">
			<i class="fa fa-folder"></i> Load
		</div>
	</div>
	<div class="col-md-6 column">
		<div class="box" id="newBox" data-link="{on switchToEdit}">
			<i class="fa fa-file"></i> New
		</div>
	</div>
</section>
<section id="loaderSection">
</section>
<section id="editorSection">
</section>
<footer>
	<h2>3ditor — Artem Panchuk © 2015</h2>
</footer>